<body>
  <form action="/login" method="POST">
    <label>Username: </label>
    <input type="username" name="username" placeholder="lowercase a-z, numbers 0-9">

    <br><br>

    <label>Password: </label>
    <input type="password" name="password" placeholder="Password:">
    <br><br>

    <input id="Log In" <input type="submit" value="Log-In">
  </form>
</body>
