<body>
  <h1>Locavore Kitchen App</h1>

  <h2>All Recipes by <%= @user.username %>: </h2>

  <p>Create <a href="/new_recipe">new recipe</a> !</p>

  <% @user.recipes.each do |recipe| %>
    <% if @recipes.length == 0 %>
        <p>Doesn't look like you have any recipes yet!</p>
        <p>Create a <a href="/new_recipe">new recipe</a>!</p>
    <% elsif @recipes.length != 0 %>
      <ul>
        <li><a href="recipes/<%= recipe.id %>.html"><%= recipe.name %></a></li>
      </ul>
    <% end %>
  <% end %>

  <br><br>

  <p>Return to <a href="/show">Home</a> or <a href="/logout">Log Out</a></p>
</body>
