<body>
  <h1>Locavore Kitchen App</h1>

  <h2>Listing all Recipes</h2>

  <br><br>

  <h2>Recipes by <%= @user.username %>: </h2>

  <ul>
    <% @user.recipes.each do |recipe| %>
      <li><a href="recipes/<%= recipe.id %>.html"><%= recipe.name %></a></li>
    <% end %>
  </ul>

  <br><br>

  <p>Return to <a href="/show">Home</a> or <a href="/logout">Log Out</a></p>
</body>
