<body>
  <h1>Locavore Kitchen App</h1>

  <h2>All Recipes by <%= @user.username %>: </h2>

  <% if @user.recipes.length == 0 %>
    <p>You don't have any recipes yet.</p>
  <% else %>
    <% @user.recipes.each do |recipe| %>
      <% if recipe.user_id == @user.id %>
        <ul><li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></li></ul>
      <% else %>
        <p>Doesn't look like you have any recipes yet!</p>
      <% end %>
    <% end %>
  <% end %>

  <p>Create a <a href="/new">new recipe</a>!</p>

  <br><br>

  <p><a href="/show">Main</a> <a href="/logout">Log Out</a></p>
</body>
