<body>
  <h2>Locavore Kitchen App</h2>

  <h3>Edit this recipe: <%= @recipe.name %></h3>
  <h4>Ingredients:</h4>
  <% @recipe.ingredients.each do |ingredient|%>
     <li><%= ingredient.name %></li>
    <% if @recipe.ingredients.size == 0 %>
        <p>Oops, doesn't look like you have any ingredients yet!</p>
    <% end %>
  <% end %>

  <br><br>

  <form action="/recipes/<%= @recipe.id %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete recipe">
  </form>

  <br><br>

  <label><b>Update:</b></label>
  <form action="/recipes/<%= @recipe.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <br><br>

    <label>Update name: </label>
    <input type="text" id="new_recipe" name="recipe[name]" placeholder="Recipe Name:">

    <br><br>

    <label>Add new ingredient: </label>
    <input type="text" id="new_ingredient" name="ingredient[name]" placeholder="Ingredients:">

    <br><br>

    <input type="submit" value="update">
  </form>




  <p>Return to <a href="/show">Home</a> or <a href="/logout">Log Out</a></p>
</body>
