<body>

  <h1><%= error_message %></h1>

  <p>Hi <%= @user.username %>, please fill out all fields.</p>

  <br><br>

  <p>Back to <a href="/new">New Recipe</a></p>

  <p><a href="/show">Main</a> <a href="/logout">Log Out</a></p>

</body>
