<body>

  <h1>Error</h1>

  <p>It seems there was a problem. Please try again and add a name to your recipe</p>
  
  <br><br>

  <p>Return to <a href="/show">Home</a> or <a href="/show">create </a> new recipe!</p>

</body>
