<body>

  <h1>Error</h1>

  <h3>Oops, <b><%= @user.username %></b>!</h3>

  <p> Please fill out all fields! Try again to <a href="/new">create recipe</a>.</p>

  <br><br>

  <p><a href="/show">Main</a> <a href="/logout">Log Out</a></p>

</body>
