<body>

  </p><a href="/recipes/<%= @recipe.id %>/edit">Update recipe</a></p>

  <form action="/recipes/<%= @recipe.id %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="delete recipe">
  </form>

</body>
