<h2>Hi <%= @user.username %>, review your latest recipe:</h2>

</p><a href="/recipes/<%= @recipe.id %>/edit">Update</a> your recipe</p>

<h3>Recipe: <%=@recipe.name%></h3>

<h3>Ingredients:</h3>
<% @recipe.ingredients.each do |ingredient|%>
  <%= ingredient.name%>
<% end %>

<% if @recipe.ingredients.length == 0 %>
"Not working!"
<% end %>

<p>Return to <a href="/show">Home</a> or <a href="/logout">Log Out</a></p>
