<h2>Log-in to Locavore Kitchen</h2>
<form action="/login" method="POST">

  <!-- <label>Name</label>
  <input type="text" name="name" placeholder="full name"> -->
  <label>Username</label>
  <input type="text" name="username" placeholder="lowercase letters only">

  <br><br>

  <label>Password</label>
  <input type="password" name="password" placeholder="Password:">
  <br><br>

  <input type="submit" value="submit">
</form>

<p>Return to Locavore Kitchen - <a href="/">Main Page</a>
