<body>
  <h2>Welcome <%= @user.username %>, thanks for signing up to Locavore Kitchen!</h2>

  <h2>Introduce yourself to the community:</h2>

  <h3>Where are you from? </h3>

  <form action="/more_info" method="POST">
  <b><label>State postal code: </label></b>
  <input type="text" id="state" name="state" placeholder="ex. NY, NJ, or PA">

  <br><br>

  <h3>Share your likes, what makes you a locavore? </h3>
  <b><label><%= @user.username %> loves: </label></b>
  <input type="text" id="content" name="content" placeholder="<%= @user.username %> loves:">

  <br><br>

  <input id="More Info" type="submit" value="introduce me">
  </form>

  <br><br>

  <p>Not sure if you want to add more info? <a href="/show">Skip ahead</a>!</p>
</body>
