<body>
  <h2>Welcome <%= @user.username %>, thanks for signing up to Locavore Kitchen!</h2>

  <h2>Introduce yourself to the community:</h2>

  <label>State</label>
  <input type="text" id="state" name="state" placeholder="state postal code">

  <br><br>

  <label>Description</label>
  <input type="text" id="about" name="about" placeholder="about you">
  <br><br>

  <input type="submit" value="submit">
  </form>

  <p>If you aren't interested, please <a href="/show">skip ahead</a>!</p>
</body>
