<body>
  <h2>Welcome <%= @user.username %>, thanks for signing up to Locavore Kitchen!</h2>

  <br><br>

  <h3>Introduce yourself to the community:</h3>

  <h3>Where are you from? </h3>

  <form action="/more_info" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch">

    <b><label for = "state">State postal code: </label></b>
      <input id="new_state" name="state" type="text" value="" placeholder="ex. NY, NJ, or PA">

    <br><br>

    <h3>Share your likes, what makes you a locavore? </h3>
    <b><label><%= @user.username %> loves: </label></b>
    <input id="new_bio" name="bio" type="text" value="" placeholder="<%= @user.username %> loves:">

    <br><br>

    <input id="More Info" type="submit" value="introduce me!">
  </form>

  <br><br>

  <p>Not sure if you want to add more info? <a href="/home">Skip ahead</a>!</p>
</body>
