<body>
  <% if @recipe == nil %>
    <p>Doesn't look like you have any recipes yet!</p>
    <p>Create a <a href="/new">new recipe</a>!</p>
  <% else %>
    <p>Review all your <a href="/all">Recipes</a> here!</p>
  <% end %>
</body>
