<body>
  <% if !@recipes.empty? %>
    <h2>Total recipes by:<h2>
    <h3><a href="/community/locavore_recipes">Locavore Community:</a>  <%= @recipes.size %></h3>
    <% if !@user.recipes.length == 0 %>
      <h3><a href="/recipes">You:</a> <%= @user.recipes.size %></h3>
    <% else %>
      <br><br>
      <p>Doesn't look like you have any recipes yet!</p>
      <p>Create a <a href="/recipes/new">New Recipe</a></p>
    <% end %>
  <% end %>

  <br><br>
</body>
