<h2>Welcome to Locavore Kitchen!</h2>
<h3>Create an account:</h3>

<form action="/signup" method="POST">

  <label>Name: </label>
  <input id="name" type="name" name="name" placeholder="first & last name">

  <br><br>

  <label>Email: </label>
  <input id= "email" type="email" name="email" placeholder="Email:">

  <br><br>

  <label>Username: </label>
  <input id="username" type="username" name="username" placeholder="Aa-Zz, numbers 0-9">

  <br><br>

  <label>Password: </label>
  <input id= "password" type="password" name="password" placeholder="Password:">

  <br><br>

  <input id="Sign Up" type="submit" value="Sign Up">
</form>

<p>Return to Locavore Kitchen - <a href="/">Main Page</a>
