<form action="/signup" method="POST">

  <label>First name: </label>
  <input id="new_first_name" type="text" name="fname" placeholder="first name">

  <label>Last name: </label>
  <input id="new_last_name" type="text" name="lname" placeholder="last name">

  <br><br>


  <label>Email: </label>
  <input id= "new_email" type="text" name="email" placeholder="Email:">

  <br><br>

  <label>Username: </label>
  <input id="new_username" type="text" name="username" placeholder="Aa-Zz, numbers 0-9">

  <br><br>

  <label>Password: </label>
  <input id= "new_password" type="password" name="password" placeholder="Password:">

  <br><br>

  <input id="Sign Up" type="submit" value="Sign Up">
</form>
