<body>
  <h1>Welcome to Locavore Kitchen!</h1>

  <h3>Select from options:</h3>
  <ul>
    <li>Existing Users <a href="/login">Log-in</a>
    <li>New Users <a href="/signup">Sign-up</a></li>
    </ul>
</body>
