<html>
  <head>
    <title>Locavore Kitchen App</title>
  </head>

  <body>
    <h1><%= default_message %></h1>

    <%= yield %>

    <br><br>

    <p><a href="/home">Home</a> // <a href="/logout">Log Out</a></p>

  </body>
</html>
