<!-- <%# user.erb %> -->
<html>
  <head>
    <title>Locavore Kitchen App</title>
  </head>
  <body>
      <h1><a href="/recipes"><%= default_message %></a></h1>

    <!-- This is where the page contents gets inserted -->
    <%= yield %>

    <br><br>

    <% if request.path_info.start_with?('/home') %>
      <p><a href="/account">Account</a> // <a href="/logout">Log Out</a></p>
    <% else %>
      <p><a href="/home">Home</a> // <a href="/logout">Log Out</a></p>
    <% end %>
  </body>
</html>
